@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

image,
video,
iframe {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #171717;
}

/* font-family: 'El Messiri', sans-serif;
   font-family: 'Noto Sans KR', sans-serif;
   font-family: 'Noto Serif KR', serif; */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #171717;
}




/*header-배경색*/
#header {
    background-color: #112131;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

/*header_inner*/
.header_inner {
    width: 1320px;
    margin: 0 auto;
}

.login {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.login li {
    border-right: 1px solid #ccc;
    line-height: 14px;
    text-align: center;
    width: 100px;
    padding-right: 5px;
}

.login li a:hover {
    font-weight: bold;
    color: #fff;
    transition: all 0.5s;
}

.login li:last-child {
    border: none;
    padding-right: 0;
    margin-right: 0;
}

.login li a {
    color: #ccc;
}

.header_inner {
    display: flex;
}


.logo {
    padding-right: 100px;
}

/*gnb*/
#gnb {
    display: flex;
}

#gnb li a {
    color: #fff;
}

#gnb li:hover {
    font-weight: bold;
    transition: all 0.3s;
}

#gnb>li {
    font-size: 20px;
    font-weight: lighter;
    padding: 30px 40px;
    position: relative;
}

#gnb>li>a {
    position: relative;
}

#gnb>li>a::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    display: block;
    width: 0%;
    height: 3px;
    background-color: rgb(180, 165, 113);
}

.sub>li:hover {
    background-color: rgb(61, 133, 175, 0.8);
    border-radius: 20px;
}

#gnb>li:hover>a::after {
    width: 100%;
    transition: all 0.5s;
}


/*sub*/
.sub {
    display: none;
    position: absolute;
    top: 108px;
    left: 0;
    width: 100%;
    z-index: 5;
}

.sub li {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 10px 0;
}

/*sub_bg*/
/*포지션의 기준을 header에 잡아준다. 그런데 
만약, header를 fixed 시킬 것이면(여기서 header는 이미position:fixed; 되어 있음.)
2중으로 position 을 주게 되는 것이므로 header에 relative를 따로 줄 필요가 없다.
(css상에서는 아래에(밑에) 사용한 속성(값)이 우선한다.)
이것은 '기준이 되는 같은 대상(여기서는 header)'이면 
 header에는 position:relative; 를 해주지 않는다.
 이미 같은 기준인 header가 위에서 fixed 되었으니 자연히 relative가 된 샘이다.*/
.sub_bg {
    display: none;
    position: absolute;
    top: 108px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}


/*메인배너_title*/
#main_banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tour_info {
    font-family: 'Noto Serif KR', serif;
    color: #fff;
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 5px;

    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);

    border-left: 2px solid #fff;
    line-height: 32px;
    padding-left: 20px;

    border-right: 2px solid #fff;
    line-height: 32px;
    padding-right: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.tour_title {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 80px;
    font-weight: 500;
    padding-left: 20px;
    letter-spacing: 20px;

    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}



/*fade_slide-메인배너*/
/*li에 포지션 absolute를 주어, 이미지 4개가 전부 한자리에 겹치게 만든다. 
그리고 포지션 기준은 #slide에 준다.*/
#slide {
    width: 100%;
    height: 650px;
    margin: 108px 0 0;
    position: relative;
    /*li 포지션의 기준*/
}

.img1 {
    background: url(../images_sub3/bg1_1920x650.jpg) no-repeat center center;
}

.img2 {
    background: url(../images_sub3/bg2_1920x650.jpg) no-repeat center center;
}

.img3 {
    background: url(../images_sub3/bg3-1left_1920x650.jpg) no-repeat center center;
}

.img4 {
    background: url(../images_sub3/bg4-1left_1920x650.jpg) no-repeat center center;
}


/*처음 상태를 css로 만들어 준다.
   첫번째 li는 display:block이고 나머지는 display:none; 으로 안보이도록 설정해준다.*/
#slide ul li {
    /*제이쿼리 효과로 li가 사라지거나 나타날 때 애니메이션이 들어가 있으므로,  
   transition을 같은 곳에 넣어두면 오류가 난다. transition 은 쓰지마!*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#slide ul li:first-child {
    display: block;
}



/*알림*/
#notice1 {
    font-size: 20px;
    font-weight: 500;
    color: #112131;
    text-align: center;
    padding: 50px 0;
}



/*Reservation 예약 절차*/
#container {
    background: url(../images_sub3/bg_gradient1920x2730.png) no-repeat center center;
    width: 100%;
    height: 2300px;
}

#reservation {
    width: 1230px;
    margin: 0 auto;
}

.title1 {
    font-family: 'El Messiri', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #013b7a;
    text-align: center;
    padding: 20px 0;
}

.sub_title1 {
    font-size: 20px;
    color: #013b7a;
    text-align: center;
    padding-bottom: 72px;
}

/*phone*/
#phone {
    width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text1 {
    width: 275px;
    text-align: end;
}

.pictogram1 {
    padding: 50px 20px 0;
}

.list1 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    padding: 20px 20px 0
}

.expl1 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding: 30px 20px 0;
}

.image1 {
    width: 227px;
    height: 430px;
}

.goldbar_v3px {
    text-align: center;
}

/*ticket*/
.image2 {
    width: 227px;
    height: 430px;
}

#ticket {
    width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text2 {
    width: 275px;
    text-align: start;
}

.pictogram2 {
    padding: 50px 20px 0;
}

.list2 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    padding: 20px 20px 0;
}

.expl2 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding: 30px 20px 0;
}

/*confirm*/
#confirm {
    width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text3 {
    width: 275px;
    text-align: end;
}

.pictogram3 {
    padding: 50px 20px 0;
}

.list3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    padding: 20px 20px 0
}

.expl3 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding: 30px 20px 0;
}

.image3 {
    width: 227px;
    height: 430px;
}



/*Precautions_bg 주의사항*/
#Precautions {
    width: 1320px;
    margin: 0 auto;
    padding: 175px 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.text4_left {
    width: 320px;
}

#title4 {
    font-family: 'El Messiri', sans-serif;
    font-size: 42px;
    color: #013b7a;
    font-weight: bold;
    padding-bottom: 15px;
}

.sub_title4 {
    font-size: 20px;
    color: #013b7a;
    padding-bottom: 30px;
}

/*특수기호※의 아래줄부터 들여쓰기*/
.expl4 {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    /*문자가 위치할 공간을 position의 기준으로 잡아준다.*/
    /*특수기호※의 아래줄부터 들여쓰기하려면,
    행마다 태그를(예:p태그) 각각 나눠서 position으로 배치시켜준다.*/
    position: relative;
}

.expl4::before {
    /*기준으로 잡은 expl2의 앞쪽에(=before) content인 ※을 넣겠다'는 의미*/
    content: "※";
    position: absolute;
    left: 0;
    top: 0;
}

.text4_right {
    width: 940px;
    margin: 0;
}

.in1,
.in2,
.in3 {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.in3 {
    padding-top: 10px;
}


#Precautions_bg {
    position: relative;
    overflow: hidden;
    /*overflow: hidden;는 뷰포트에 보이는 영역만 보이게 함*/
}

#Precautions_bg::before {
    content: "";
    /*content: ""; 는 인라인요소이며, 가상의 빈 공간이다*/
    display: block;
    /*content는 인라인 요소이므로 display: block; 으로 블락요소화 한다.*/
    width: 942px;
    /*가로길이(width)는 충분히 주고 작업한다.*/
    height: 200px;
    /*세로높이(height)는 원하는 길이로 설정*/
    background-color: #013b7a;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-285px);
}


/*passport*/
#passport {
    width: 1230px;
    margin: 0 auto;
    padding: 100px 0 0;
}

.etc1,
.etc2 {
    font-size: 18px;
    font-weight: 400;
}

.etc1 {
    padding-bottom: 8px;
}


/*certification인증*/
#certification {
    width: 810px;
    margin: 0;
    padding: 60px 0 0;
}

.title5 {
    width: 940px;
    font-size: 20px;
}

.goldbarx4px {
    width: 940px;
    /*선길이*/
    background: #a89660;
    /*선색깔*/
    height: 3px;
    /*선두께*/
    margin: 12px 0;
    /*선의 상하 여백*/
}

.adult {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}



/*refund 환불*/
#refund {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.text6_left {
    padding-top: 36px;
    width: 320px;
    align-items: center;
}

#title6 {
    font-family: 'El Messiri', sans-serif;
    font-size: 42px;
    line-height: 40px;
    font-weight: bold;
    color: #013b7a;
    text-align: left;
}

.sub_title6 {
    font-size: 20px;
    color: #013b7a;
    text-align: left;
    padding: 20px 0;
}

#chart6 {
    width: 940px;
}

#chart6 span {
    font-size: 18px;
    font-weight: 600;
    color: #013b7a;
}

.thin_line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #a89660;
}

.thin_line:last-child {
    border: none;
}

.content {
    text-align: center;
    font-size: 18px;
    color: #112131;
    font-weight: 400;
    padding: 20px 0;
}


/*detail*/
#detail {
    padding-top: 40px;
}

.in4,
.in5,
.in6 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.in4 span {
    font-weight: 600;
    color: #013b7a;
}

.in5 span {
    font-weight: 600;
    color: #013b7a;
}

.in6 span {
    font-weight: 600;
    color: #013b7a;
}


/*특수기호 '※' 들여쓰기*/
.in4 {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    /*문자가 위치할 공간을 position의 기준으로 잡아준다.*/
    /*특수기호※의 아래줄부터 들여쓰기하려면,
    행마다 태그를(예:p태그) 각각 나눠서 position으로 배치시켜준다.*/
    position: relative;
    padding-bottom: 20px;
}

.in4::before {
    /*기준으로 잡은 expl2의 앞쪽에(=before) content인 ※을 넣겠다'는 의미*/
    content: "※";
    position: absolute;
    left: 0;
    top: 0;
}

.in5 {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    position: relative;
    padding-bottom: 20px;
}

.in5::before {
    content: "※";
    position: absolute;
    left: 0;
    top: 0;
}

.in6 {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    position: relative;
}

.in6::before {
    content: "※";
    position: absolute;
    left: 0;
    top: 0;
}


/*FAQ_자주묻는질문_10개*/
#container2 {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%,
            rgba(255, 255, 255, 1) 0%, rgba(1, 59, 122, 1) 25%, rgba(1, 59, 122, 1) 100%);
    margin: 0 auto;
    height: 1300px;
    margin-top: 180px;
    position: relative;
}

#faq {
    width: 1320px;
    margin: 0 auto;
    padding-top: 150px;
}

#title7 {
    font-family: 'El Messiri', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.sub_title7 {
    font-size: 20px;
    color: #fff;
    text-align: left;
    padding: 20px 0;
}



/*--> slideToggle, slideUp*/
.quest {
    width: 1320px;
    margin: auto;
    background: #013b7a;
    margin-top: 20px;
}

.title8 {
    overflow: hidden;
    padding: 15px 15px;
    border-bottom: 1px solid #a89660;
}

.title8_in {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.allow {
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.answer {
    font-size: 18px;
    font-weight: 400;
    color: #171717;
    background: #fff;
    display: none;
    padding: 10px 0 10px 40px;
}

.turn img {
    transform: rotate(180deg);
}

.quest img {
    transition: transform 0.5s;
}

/* slideToggle, slideUp -->*/




/*footer*/
#footer {
    background: url(../images_sub3/footer_bg1_goldbar1750x534.png) no-repeat center 0;
    background-size: cover;
    height: 400px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
}

.goldbar {
    background: #a6956c;
    border-radius: 50px;
    max-width: 1750px;
    height: 100px;
    margin: 0 auto;
}

.footer_inner {
    width: 1320px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_top {
    display: flex;
    justify-content: flex-start;
}

.left_top li {
    border-right: 2px solid #fff;
    line-height: 14px;
    padding-right: 20px;
    margin-right: 20px;
}

.left_top li:last-child {
    border: none;
    padding-right: 0;
    margin-right: 0;
}

.left_top li a {
    font-size: 18px;
    color: #fff;
}

.sns {
    display: flex;
    justify-content: flex-end;
}

.sns li {
    padding-right: 10px;
    margin-right: 10px;
}

#box_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_box {
    padding-top: 40px;
}

.left_box li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
}

.about {
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    text-align: center;
}

.licence {
    font-size: 16px;
    color: #fff;
    padding-top: 18px;
}

.ceo_tel {
    padding: 40px 0;
}

#footer {
    padding-top: 220px;
}



@keyframes move1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-45px);
    }

    100% {
        transform: translateY(0);
    }
}

#footer {
    position: relative;
}

.ship_animation {
    position: absolute;
    top: 150px;
    left: 1150px;
    animation: move1 5s ease-in-out infinite alternate;
    /*alternate는 
  정방향 한번 1s(1초)에 실행, 
  역방향 한번 1s에 실행을 번갈아 가면서 하게 함.
  (위로 갔다가 다시 돌아오는데 총 2초가 걸림)*/
}

/*footer 끝*/



/*top_btn*/
.top_btn {
    position: fixed;
    right: 15px;
    bottom: 120px;
    z-index: 99;
    display: none;
}

.top_btn img {
    width: 50px;
    height: 50px;
}

/*home_btn*/
.home_btn {
    position: fixed;
    bottom: 10px;
    right: 0px;
    width: 66px;
}

.home_btn img {
    width: 50px;
    height: 50px;
}

/*the end*/